html {
  background: linear-gradient(#B67D21, #d0d0d0);
  background-size: cover;
}




h1 {
  color: #1183E1;
  text-align: center;
  font-family: cursive;
  font-size: 75px;
  text-shadow: 3px 3px 1px #035599;

}





body {
  color: white;


}


.goals {
  text-align: center;
  font-size: 15px;





}

.bio {
  text-align: center;




}

.education {
  text-align: center;

  display: inline-block;



}

.movies {
  text-align: center;
  display: inline-block;
  font-family: fantasy;
}

#box1 {
  text-align: center;


}


#box2 {
    text-align: center;

}

#box3 {
  text-align: center;
}

#box4 {
  text-align: center;
  display: inline;

}

#font {
  font-family: Times;
}
.workex {
  text-align: center;

  display:inline-block;


}

.links {
  text-align: center;




}

a:link {
  color: white;

}

a:visited {
  color: white;
}

a:hover {
  color: #EE2900;
}

h6 {
  color: #1183E1;
  font-family:cursive;
  font-size: 15px;
  text-align: center;
  text-shadow: 1px 1px 1px white;
}

#images {
  display:inline-block;
  box-sizing: content-box;

}
.li1 {
list-style-type: none;

}

.li2 {
list-style-type: none;


}

.li3 {
  list-style-type: none;
}

.li4 {
  list-style-type: none;
}

.li5{
  list-style-type: none;
}

.li6 {
  list-style-type: none;

}

.li7 {
  list-style-type: none;
}

.li8 {
  list-style-type: none;

}

.li9{
  list-style-type: none;
}

.li10{
  list-style-type: none;
}


/*.contact {
  text-align: left;
  font-family: fantasy;
  font-size: 15px;
  font-weight: bolder;
  color: red;



}*/
